.box ul{
    /* border: 1px solid black;
    height:100px;
    width:100%;
    display:grid;
    padding:10%;  */
    padding:0 20px 25px 20px;
    margin-top:0;
    display:grid;
    justify-content:center;
    align-items:first baseline;
    list-style-type:none;
    background-color: rgb(213, 207, 233);
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;

}
.container{
    display:grid;
    justify-content:center;
    align-items:center;
    height:80vh;
    width:100%;
    position:absolute;
    top:0;
    z-index:1;
    grid-template-columns:1fr 1fr 1fr;
}
/* .boxcontainer{
    display:grid;
    grid-column:2/3;
    justify-content:center;
    align-items:center; 
    position:absolute;
    
} */
.box{
    /* border:1px solid black; */
    grid-column:1/1;
    position:fixed;
    /* top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto; */
    /* right:37%; */
    /* top:40%; */
    width:100%;
    /* max-width:fit-content; */
    /* padding-top:100px; */
    background-color: white;
    color:black;
    height:170px;
    /* width:10%; */
    /* padding:10px; */
    border-radius: 10px;
    /* background-color: rgb(213, 207, 233); */
    background-color: transparent;
    z-index: 1;
    display:grid;
    justify-content:center;
    align-items:center;
    /* overflow:hidden; */
}
.box h1{
    padding-left:100px;
    padding-right:100px;
    padding-top:20px;
    /* padding-top:100px; */
    /* margin-top:100px; */
    margin-bottom:0;
    background-color: rgb(213, 207, 233);
    height:100%;
    /* width:100%; */
    /* padding-top:10px; */
    border-radius:20px 20px 0 0;
}
