.box ul{
    /* border: 1px solid black;
    height:100px;
    width:100%;
    display:grid;
    padding:10%;  */
    padding:10px 20px;
    justify-content:center;
    align-items:center;
    list-style-type:none;

}
.container{
    display:grid;
    justify-content:center;
    align-items:center;
    height:70vh;
    width:100%;
    position:absolute;
    top:0;
    z-index:1;
    grid-template-columns: 0.35fr 0.65fr;
}
.boxconatiner{
    display:grid;
    /* grid-column:1/1; */
    justify-content:center;
    align-items:center;
}
.box{
    /* border:1px solid black; */
    /* grid-column:1/1; */
    position:fixed;
    /* right:37%; */
    /* top:40%; */
    background-color: white;
    color:black;
    height:200px;
    /* width:100%; */
    /* padding:10px; */
    border-radius: 10px;
    background-color: rgb(213, 207, 233);
    z-index: 1;
    /* display:grid; */
    /* justify-content:center;
    align-items:center; */
}
.box h1{
    padding-left:100px;
    padding-right:100px;
}
